.adminTransaction{
    flex: 4;
}

.adminTransactionTitle {
    font-size: 22px;
    font-weight: 600;
}

.adminTransactionContainer{
    margin: 20px;
    padding: 30px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.addItem{
    padding: 3% 8%;
}